*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
   /* color: ;*/
   --FF:"Nunito" , sans-serif;
   --FS:1.5rem;
   --FS-XL:3rem;
    --bgcolor:#475569;
    --alt-bgcolor:#1E293B;
    --radial-color:whitesmoke;
    --light-color:whitesmoke;
    --dark-color:#000;

    --squres-bgcolor:papayawhip;    
    --square-size:max(150px, 20vw);

    
    --padding:0.5rem;
    --shadow:0 6px 5px  -5px var(--dark-color);
    --border:2px solid var(--dark-color) ;

}
@media  (prefers-color-scheme:light/*dark*/){
    :root{
        --bgcolor:#000;
        --alt-bgcolor:#333;
        --radial-color:rgb(217,217,217);
        --square-bgcolor:rgb(202, 174, 202);
    }
}
body{
    font: var(--FS) var(--FF);
    min-height: 100vh;
    background-color: var(--bgcolor);
    background-image: radial-gradient(var(--radial-color),var(--bgcolor));
    display: flex;
    flex-direction: column;
}
header ,nav ,footer{
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
}
header , footer{
    position: sticky;
    background-color:var(--alt-bgcolor) ;
    color: whitesmoke;
}
header{
    top:0;
}
nav{
    background-color:var(--light-color);
    color:var(--dark-color);
    padding: var(--padding);
    border-bottom: var(--border);
    box-shadow: 0 6px 5px  -5px var(--dark-color);
}
main{
    flex-grow: 1;

    padding: 1;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    gap:min(4vw), 15px
}
footer{
    bottom:0;
}
.square--highlight{
    --square-bgcolor:cornflowerblue:
}
.square{
    background-color: var(--squres-bgcolor);
    width: var(--square-size);
    height: var(--square-size);
    border: var(--border);
    border-radius: 15px;
    display: grid;
    place-content: center;
    font-size: var(--FS-XL);
    box-shadow: var(--shadow);
}