div {
    float: left;/*right, none , inherit*/
    padding: 15px; 
}
.div1 {
    background: red;
    float:right;
}
.div2 {
    background: yellow;
    float: none;
}
.div3 {
    background: green;
    float:inherit;
}